header {
    background-color: greenyellow;
    width: 240px;
    padding: 24px;
    border-radius: 16px;
    margin-top: 16px;
}

.card1 {
    width: 240px;
    background-color: #ededed;
    padding: 24px;
    border-radius: 16px;
    margin-top: 16px;  
}

.someDescription {
    width: 240px;
    display: flex;
    flex-direction: column;
    background-color: #987655;
    padding: 24px;
    border-radius: 16px;
    margin-top: 16px;
}

aside {
    background-color: blueviolet;
    width: 240px;
    padding: 24px;
    border-radius: 16px;
    margin-top: 16px;
}

footer {
    width: 240px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    background-color: gainsboro;
    border-radius: 16px;
    margin-top: 16px;
}